<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="d-flex flex-xl-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-4">
            <a class="navbar-brand"  href="@Url.Action("Index","Shop")" >ShopOnline</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index","Shop")">Home</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>*@
                </ul>
                <form class="d-flex">
                    @if (Session["Customer"] == null)
                    {
                        <a class="btn btn-outline-dark" aria-current="page" href="@Url.Action("Index", "Access")">Login</a>
                    }
                    else
                    {
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-outline-dark" href="@Url.Action("MyPurchases","Shop")">My Purchases</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-outline-dark" href="@Url.Action("Cart","Shop")">
                                                <i class="bi bi-cart-fill me-1"></i> Cart
                                                <span class="badge bg-dark text-white ms-1 rounded-pill" id="totalcart">0</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-outline-dark" href="@Url.Action("LogOut","Access")">Log Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>



                    }

                </form>
            </div>
        </div>
    </nav>
    @RenderBody()

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            ShowTotalCart();
        })
        function ShowTotalCart() {
            if ($("#totalcart").length > 0) {
                jQuery.ajax({
                    url: '@Url.Action("TotalCart", "Shop")',
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#totalcart").text(data.amount)
                    }
                });
            }
        }
    </script>

</body>
</html>
