
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Stylish Shopping</h1>
            <p class="lead fw-normal text-white-50 mb-0">How to Find the Best Products: Your Style, Our Selection!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <div class="container-fluid px-5 my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Categories
                            </div>
                            <div id="container_category" class="card-body">
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Brands
                            </div>
                            <div id="container_brand" class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnapplyfilter" class="btn btn-outline-dark btn-block" type="button">
                                Apply filter
                            </button>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-9">
                <div id="container_product" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</section>

@section scripts{
    
    <script>
        $(document).ready(function () {
            ShowCategories();
            ShowProducts(0, 0)
        })
        function ShowCategories() {
            jQuery.ajax({
                url: "@Url.Action("listCategories", "Shop")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#container_category").LoadingOverlay("hide");


                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "category", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("All").attr({ "for": "cx" })
                    ).appendTo("#container_category")
                    $.each(response.data, function (i, element){
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "category", "value": element.IdCategory, "id": "c" + i}),
                            $("<label>").addClass("form-check-label").text(element.Description).attr({ "for": "c" + i })
                        ).appendTo("#container_category")
                    })
                    ShowBrand();

                },
                beforeSend: function () {
                    $("#container_category").LoadingOverlay("show");
                }



            })
        }

        function ShowBrand() {
            var _idcategory = $("input[name=category]:checked").val();
            jQuery.ajax({
                url: "@Url.Action("Listbrandsbycategory", "Shop")",
                type: "POST",
                data: JSON.stringify({ idcategory: _idcategory }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#container_brand").html("");
                    $("#container_brand").LoadingOverlay("hide");


                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "brand", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("All").attr({ "for": "mx" })
                    ).appendTo("#container_brand")
                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "brand", "value": element.IdBrand, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.Description).attr({ "for": "m" + i })
                        ).appendTo("#container_brand")
                    })

                },
                beforeSend: function () {
                    $("#container_brand").LoadingOverlay("show");
                }

            })
        }
        $(document).on("change", "input[name=category]", function (){
            ShowBrand();
        })

        function ShowProducts(_idcategory,_idbrand) {

            jQuery.ajax({
                url: "@Url.Action("ListarProduct", "Shop")",
                type: "POST",
                data: JSON.stringify({ idcategory: _idcategory, idbrand: _idbrand}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#container_product").html("");
                    $("#container_product").LoadingOverlay("hide");


                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Name),
                                        $("<p>").text("We have " + element.Stock + " units available."),
                                        "$ " + element.Price.toFixed(2) + "UDS"
                                    ),

                                ),
                                $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(

                                    $("<div>").addClass("d-grid gap-2").append(
                                        @if (Session["Customer"]!= null)
                                        {
                                            @:$("<button>").addClass("btn btn-success mt-auto addcart").data("idproduct", element.IdProduct).text("Add to Cart"),
                                        }

                                          
                                        $("<a>").addClass("btn btn-dark mt-auto")
                                            .attr({ "href": "@Url.Action("ProductDetail", "Shop")" + "?idproduct=" + element.IdProduct })
                                            .text("Show detail")
                                    )
                                )
                            )
                        ).appendTo("#container_product")
                    })

                },
                beforeSend: function () {
                    $("#container_product").LoadingOverlay("show");
                }

            })
        }

        $("#btnapplyfilter").click(function () {
            var _idcategory = $("input[name=category]:checked").val()
            var _idbrand = $("input[name=brand]:checked").val()
            ShowProducts(_idcategory, _idbrand)
        })

        $(document).on("click", "button.addcart", function () {
            console.log($(this).data("idproduct"))

            jQuery.ajax({
                url: '@Url.Action("AddCart", "Shop")',
                type: 'POST',
                data: JSON.stringify({ idproduct: $(this).data("idproduct") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.res) {
                        ShowTotalCart();

                        swal({
                            title: "Added to cart",
                            text: "Do you want to go to the cart?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = '@Url.Action("Cart","Shop")'
                        })

                    } else {
                        swal("", data.message, "warning");
                    }
                }
            });


        })



    </script>
    
    }